
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1532998664992'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1532998664992#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'), /* chrome„ÄÅfirefox */
  url('../fonts/iconfont.ttf?t=1532998664992') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1532998664992#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangpin:before { content: "\e619"; }

.icon-xiugaimima:before { content: "\e608"; }

.icon-huojian:before { content: "\e612"; }

.icon-zhuyidapx:before { content: "\e617"; }

.icon-yunying:before { content: "\e67d"; }

.icon-xianshiqi:before { content: "\e60f"; }


