a {
	text-decoration: none
}

#Layer1 {
	position: absolute;
	width: 200px;
	height: 115px;
	z-index: 1;
	left: 83px;
	top: 38px;
	background-color: #990033;
}

#Layer2 {
	position: absolute;
	width: 1049px;
	height: 99px;
	z-index: 1;
	left: 150px;
	top: 51px;
}

#Layer3 {
	position: absolute;
	width: 290px;
	height: 39px;
	z-index: 1;
	left: 99px;
	top: 59px;
}

.STYLE4 {
	font-family: "华文楷体";
	font-size: 36px;
	color: #CC3300;
}

#Layer4 {
	position: absolute;
	width: 105px;
	height: 30px;
	z-index: 2;
	left: 902px;
	top: 120px;
}

.STYLE8 {
	font-size: 24px;
	color: #0033FF;
	font-family: "华文楷体";
	background-image: none;
	cursor: crosshair;
	border-top-width: thick;
	border-right-width: thick;
	border-bottom-width: thick;
	border-left-width: thick;
	border-top-style: outset;
	border-right-style: outset;
	border-bottom-style: outset;
	border-left-style: outset;
}

#Layer5 {
	position: absolute;
	width: 137px;
	height: 29px;
	z-index: 3;
	left: 1038px;
	top: 121px;
}

#Layer6 {
	position: absolute;
	width: 1051px;
	height: 85px;
	z-index: 4;
	left: 151px;
	top: 153px;
}

#Layer7 {
	position: absolute;
	width: 62px;
	height: 40px;
	z-index: 5;
	left: 294px;
	top: 183px;
}

.STYLE11 {
	color: #000000;
	font-size: 24px;
	font-family: "华文楷体";
	border-top-width: thick;
	border-right-width: thick;
	border-bottom-width: thick;
	border-left-width: thick;
	border-top-style: outset;
	border-right-style: outset;
	border-bottom-style: outset;
	border-left-style: outset;
}

#Layer8 {
	position: absolute;
	width: 61px;
	height: 30px;
	z-index: 6;
	left: 408px;
	top: 177px;
}

.STYLE12 {
	font-family: "华文楷体";
	font-size: 24px;
	border-top-width: thick;
	border-right-width: thick;
	border-bottom-width: thick;
	border-left-width: thick;
	border-top-style: outset;
	border-right-style: outset;
	border-bottom-style: outset;
	border-left-style: outset;
}

#Layer9 {
	position: absolute;
	width: 735px;
	height: 394px;
	z-index: 7;
	left: 295px;
	top: 252px;
}

body {
	background-image: url(../images/birch-wallpaper.png.625x385_q100.png);
}

#obj {
    width :625px;
    height : 385px;
    border : 0px;
}