<!DOCTYPE html>
<html>

	<head>
	    <meta charset="UTF-8">
		<title>个人中心</title>

		<!-- 公共样式 开始 -->
		    <link rel="shortcut icon" href="../../static/images/icon.ico" />
		<link rel="stylesheet" type="text/css" href="../../static/css/base.css">
		<link rel="stylesheet" type="text/css" href="../../static/css/iconfont.css">
		<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js" ></script>
		<link rel="stylesheet" type="text/css" href="../../static/css/layui.css">
		<script type="text/javascript" src="../../static/js/layui/layui.js"></script>
		<!-- 滚动条插件 -->
		<link rel="stylesheet" type="text/css" href="../../static/css/jquery.mCustomScrollbar.css">
		<script src="../../static/js/jquery-ui-1.10.4.min.js"></script>
		<script src="../../static/js/jquery.mousewheel.min.js"></script>
		<script src="../../static/js/jquery.mCustomScrollbar.min.js"></script>
		<script src="../../static/js/cframe.js"></script><!-- 仅供所有子页面使用 -->
		<!-- 公共样式 结束 -->
		
		<link rel="stylesheet" type="text/css" href="../../static/css/frameStyle.css">
		<script type="text/javascript" src="../../static/js/frame.js" ></script>
		
	    <script type="text/JavaScript">
<!--
function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}
//-->
        </script>
	</head>

	<body>
		<!-- 左侧菜单 - 开始 -->
		<div class="frameMenu">
		   
		    <div class="logo">
		        <img src="../../static/images/logo.png"/>
		        <div class="logoText">
		            <h1>个人中心</h1>
		            <p>百度一下，你就知道</p>
		        </div>
		    </div>
			<div class="menu">
		        <ul>
		        	
		        	
					<li>
		                <a class="menuFA" href="javascript:void(0)" onclick="menuCAClick('/manager/manager_pcenter/manager_information',this)"><i class="iconfont icon-huojian left"></i>个人信息</a>
		           	</li>
					<li><a class="menuFA" href="javascript:void(0)" onClick="menuCAClick('/manager/manager_pcenter/manager_password',this)"><i class="iconfont icon-xiugaimima left"></i>修改密码</a></li>
					
					<li>
		                <a class="menuFA" href="javascript:alert('正在开发')" ><i class="iconfont icon-yunying left"></i>我的日志</a>
		           	</li>
					<li>
		                <a class="menuFA" href="javascript:alert('管理正在开发')"><i class="iconfont icon-shangpin left"></i>个人设置</a>
		           	</li>
					
					<li><a class="menuFA" href="/manager"><i class="iconfont icon-084tuichu left"></i>返回</a></li>
					<li><a class="menuFA" href="/manager_log_out"><i class="iconfont icon-084tuichu left"></i>注销</a></li>
		        	
		        	
		        </ul>
		    </div>
		</div>
		<!-- 左侧菜单 - 结束 -->
		
		<div class="main">
			
			
			<!-- 核心区域 - 开始 -->
			<div class="frameMain">
				<div class="title" id="frameMainTitle">
					<span><i class="iconfont icon-xianshiqi"></i>个人信息</span>
				</div>
				<div class="con">
					<iframe id="mainIframe" src="/manager/manager_pcenter/manager_information" scrolling="no"></iframe>
				</div>
			</div>
			<!-- 核心区域 - 结束 -->
		</div>
	</body>

</html>