<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>管理员登录</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="../static/js/gt.js"></script>
	<script src="http://code.jquery.com/jquery-1.12.3.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/jiyan.css">
    <link rel="shortcut icon" href="../static/images/icon.ico" />
	<!--图标-->
	<link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">

	<!--布局框架-->
	<link rel="stylesheet" type="text/css" href="../static/css/util.css">

	<!--主要样式-->
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>

<body>

<div class="login">
	<div class="container-login100">
		<div class="wrap-login100">
			<div class="login100-pic js-tilt" data-tilt>
				<img src="../static/images/img-01.png" alt="IMG">
			</div>

			<form class="login100-form validate-form" action="/manage_login" method="post">
				 <input  type = "hidden"  name = "csrf_token"  value = "{{csrf_token()}}"/>
				<span class="login100-form-title">
					管理员登陆
				</span>
				<div>
					{% if error %}
						<p style="color:red">{{error}}</p>
					{% endif %}
				</div>
				<div class="wrap-input100 validate-input">
					<input class="input100" type="text" name="phone_number" placeholder="用户名">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-user" aria-hidden="true"></i>
					</span>
				</div>

				<div class="wrap-input100 validate-input">
					<input class="input100" type="password" name="password" placeholder="密码">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-lock" aria-hidden="true"></i>
					</span>
				</div>

				<div>
				<div id="embed-captcha"></div>
   				 <p id="wait" class="show">正在加载验证码......</p>
				<p id="notice" class="hide">请先拖动验证码到相应位置</p></div>

				<div class="container-login100-form-btn">
					<input type="submit" id="embed-submit" value="登录" class="login100-form-btn">
				</div>

				<div class="text-center p-t-12">
					<a class="txt2" href="/forget_password">
						忘记密码？
					</a>
				</div>

				<div class="text-center p-t-136">
					<a class="txt2" href="/contact_me">
							没有账号，请联系我们
						<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
					</a>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	var handlerEmbed = function (captchaObj) {
    $("#embed-submit").click(function (e) {
        var validate = captchaObj.getValidate();
        if (!validate) {
            $("#notice")[0].className = "show";
            setTimeout(function () {
                $("#notice")[0].className = "hide";
            }, 2000);
            e.preventDefault();
        }
    });
    captchaObj.appendTo("#embed-captcha");
    captchaObj.onReady(function () {
        $("#wait")[0].className = "hide";
    });
};
$.ajax({
    // 获取id，challenge，success（是否启用failback）
    url: "/pc-geetest/register?t=" + (new Date()).getTime(), // 加随机数防止缓存
    type: "get",
    dataType: "json",
    success: function (data) {
        initGeetest({
            gt: data.gt,
            challenge: data.challenge,
            product: "embed", // 产品形式，包括：float，embed，popup。注意只对PC版验证码有效
            offline: !data.success // 表示用户后台检测极验服务器是否宕机，一般不需要关注
        }, handlerEmbed);
    }
});
</script>

</body>
</html>