<!DOCTYPE html>
<html>
<head>
<title>我的社团</title>
<link rel="shortcut icon" href="../../static/images/icon.ico"/>
<script src="js/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">	
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<meta name="keywords" content="Bootstrap Responsive Templates, Iphone Compatible Templates, Smartphone Compatible Templates, Ipad Compatible Templates, Flat Responsive Templates"/>
<script src="../static/js/jquery-1.11.0.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../../static/css/layui.css">
		<script type="text/javascript" src="../../static/js/layui/layui.js"></script>
<link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="../static/css/style.css" rel='stylesheet' type='text/css' />
<link href='http://fonts.useso.com/css?family=Arimo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href="../static/css/biaoti.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="stars"></div>
<script>
$(document).ready(function(){
  var stars=800;
  var $stars=$(".stars");
  var r=800;
  for(var i=0;i<stars;i++){
    var $star=$("<div/>").addClass("star");
    $stars.append($star);
  }
  $(".star").each(function(){
    var cur=$(this);
    var s=0.2+(Math.random()*1);
    var curR=r+(Math.random()*300);
    cur.css({
      transformOrigin:"0 0 "+curR+"px",
      transform:" translate3d(0,0,-"+curR+"px) rotateY("+(Math.random()*360)+"deg) rotateX("+(Math.random()*-50)+"deg) scale("+s+","+s+")"

    })
  })
})</script>
	<!--start-header-->
			<div id="home" class="header">
					<div class="top-header">
						<div class="container">
							<div class="logo">
								<a href="#"><img src="../static/images/logo.png" alt=""></a>
							</div>
							<!--start-top-nav-->
							 
							<div class="clearfix"> </div>
							
							<div class="title">
							     <h3 class="STYLE4 STYLE1">学生社团管理平台</h3>
							</div>
						</div>
				</div>
			<!---pop-up-box---->
					  <script type="text/javascript" src="../static/js/modernizr.custom.min.js"></script>
					<link href="../static/css/popup-box.css" rel="stylesheet" type="text/css" media="all"/>
					<script src="../static/js/jquery.magnific-popup.js" type="text/javascript"></script>
					<!---//pop-up-box---->
				
				 <script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});
																						
						});
				</script>					
		<!--End-header-->
		<div class="navgation">
					<div class="menu">
                         <a class="toggleMenu" href="#"><img src="../static/images/menu-icon.png" alt="" /> </a>
							<ul class="nav" id="nav">

							<li><a href="{{url_for('blue_manage.manager')}}" class="active">我的社团</a></li>
							<li><a href="{{url_for('blue_manage.manager_mynews')}}">我的消息</a></li>
							<li><a href="{{url_for('blue_manage.manager_systemnews')}}">系统通知</a></li>
							<li><a href="{{url_for('blue_manage.management')}}">社团管理</a></li>
							<li><a href="{{url_for('blue_manage.manager_pcenter')}}" >个人中心</a></li>
							<li><a href="{{url_for('blue_index.index')}}" >回到首页</a></li>
							
							</ul>
                            <!----start-top-nav-script---->
		                     <script type="text/javascript" src="../static/js/responsive-nav.js"></script>
							<script type="text/javascript">
							jQuery(document).ready(function($) {
								$(".scroll").click(function(event){		
									event.preventDefault();
									$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
								});
							});
							</script>
							<!----//End-top-nav-script---->
					</div>
					<div class="search2">
					  <form action="/search" method="post">
						  <input  type = "hidden"  name = "csrf_token"  value = "{{csrf_token()}}"/>
						 <input type="text" name="keyword" value="搜索社团信息..." onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '搜索社团信息...';}"/>
						 <input type="submit" value="">
					  </form>
					</div>
					<div class="clearfix"> </div>
		</div>
		</div>
		<!--start-about-->
		<div class="about">
			<div class="container">
				<div class="about-main">
					<div class="col-md-8 about-left">
						<h3>社团</h3>
						<table id="customList" class="table" style="color:white">
							<thead>
								<tr>

									<th scope="col">社团名称</th>
									<th scope="col">社团简介</th>
									<th scope="col">查看详情</th>
									<th scope="col">操作</th>
								</tr>
							</thead>
							<tbody>
								{% for i in result %}
								<form action="/manager/mycommunity" method="post">
								<tr>
									<td>{{i[0]}}</td>
									<td>{{i[1][:20]}}...</td>
									<input  type = "hidden"  name = "csrf_token"  value = "{{csrf_token()}}"/>
									<input type="hidden" name='team_name' value="{{i[0]}}">
									<input type="hidden" name='phone_number' value="{{i[2]}}">
									<input type="hidden" name='choose' id="choose">

									<td>
										<button class="layui-btn"	type="submit" name="action" value="view">查看详情</button>
									</td>
									<td>
										<button class="layui-btn"  type="submit" name="action" value="quit">解散</button>
									</td>
								</tr>
								</form>
								{% endfor %}
							</tbody>
							<script>
								function check(string) {
									document.getElementById(choose).value=string;
								}
							</script>

						</table>

					</div>
					<div class="col-md-4 about-left">
						<h3>更多活动</h3>
						<ul>
							<li><a href="#"><font color="#000000"><b>武汉大学记忆协会举办第一届“友思杯”华中高校“记忆之星”挑战赛</b></font></a></li>
							<li><a href="#"><font color="#000000"><b>武汉大学绿洲环保协会“地球一小时”系列活动。包括熄灯音乐会、布袋DIY和环保小礼物赠送等活动。</b></font></a></li>
							<li><a href="#"><font color="#000000"><b>踪点戏剧社《海鸥》应邀参加403国际艺术中心红椅剧场主办的大学生戏剧联展活动</b></font></a></li>
							<li><a href="#"><font color="#000000"><b>Google Camp技术课堂主题是“Spark大数据处理技术“</b></font></a></li>
							<li><a href="#"><font color="#000000"><b>蒲公英旅行协会长线旅行“寻梦之旅”的云南之行，游遍大理、丽江、香格里拉、玉龙雪山</b></font></a></li>
							<li><a href="#"><font color="#000000"><b>太阳雨文学社“珞珈论剑”武侠主题交流会，全国高校武侠征文大赛……武侠文化节的活动</b></font></a></li>
							<li><a href="#"><font color="#000000"><b>笛箫协会“民族吹管音乐会”，邀请武汉民族吹管音乐名家来向大家介绍笛箫之外的民族吹管乐。</b></font></a></li>
							<li><a href="#"><font color="#000000"><b>武汉大学中华传统武术协会仙剑社团“仙剑十年”的活动表演俄亥俄州大学赴武大学术交流的活动表演</b></font></a></li>

						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!--End-about-->
		<!--start-choose-->
		<div class="choose">
			<div class="container">
				<div class="choose-top">
					<h3>社团推荐</h3>
				</div>
				<div class="choose-bottom">
					<div class="col-md-4 choose-left">
						<span class="choose-one"> </span>
						<h4><font color="#FFFFFF">踪点戏剧社</font></h4>
						<p><b><font color="#CCCCCC">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;武汉大学踪点戏剧社成立于1999年，经过十七年风雨打磨，他已成长为高校剧社的中坚力量，在华中地区声誉极佳，并多次获得大学生话剧节金奖；在校内更是十四次获得十佳社团的荣誉称号。而今后，他也将带着骄傲继续探索戏剧之路，推广校园戏剧，提倡人文关怀，深信星星之火可以燎原。</font></b></p>
					</div>
					<div class="col-md-4 choose-left">
						<span class="choose-two"> </span>
						<h4><font color="#FFFFFF">Google Camp</font></h4>
						<p><b><font color="#CCCCCC"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Google Camp是Google精神和理念在武汉大学校园里的延伸，是Google与高校学生之间的沟通渠道，是由Google资助、并由同学组织和管理的学生社团，为传播Google的使命和价值观，自发组织有创意的、激励进取和充满乐趣的活动。Google Camp并非单纯的技术俱乐部，它所倡导的活动内容针对校园生活的方方面面，致力于整合管理信息，并使之为同学服务，造福校园。</font></b></p>
					</div>
					<div class="col-md-4 choose-left">
						<span class="choose-tre"> </span>
						<h4><font color="#FFFFFF"> 武大蒲公英旅行协会</font></h4>
						<p><b><font color="#CCCCCC"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 武大蒲公英旅行协会是武汉大学人文旅游实践类的校级社团。正如我们说过的那样，蒲公英带你看遍世间美景，在社团成立两年多的时间里我们已与无数的伙伴们分享过许许多多美丽的时刻。 我们曾经徒步穿越大别山，邂逅大美凤凰，相约“梦里老家”婺源，攀登“天下第一奇山”黄山，探访“十三朝古都”洛阳，到达“不识真面目”的庐山……</font></b></p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="choose-bottom">
					<div class="col-md-4 choose-left">
						<span class="choose-two"> </span>
							<h4><font color="#FFFFFF">武汉大学太阳雨文学社</font></h4>
						<p><b><font color="#CCCCCC"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;于内，我们安静、汲取、写作、探索、关怀、追求内心的独立和自由。主题文学沙龙：讨论我们喜欢的话题。节日活动：如重阳灯谜会活动，中秋游园会，立春踏青活动。读书活动：研究著作，推荐阅读及“共读一本书，同写一篇文“活动。从“情牵西部”到“重访西迁路”到“湘西文化考察之旅”我们完成了“武汉—兰州—西宁—格尔木—拉萨—山南—西安——乐山——凤凰”的万里行。</font></b></p>
					</div>
					<div class="col-md-4 choose-left">
						<span class="choose-tre"> </span>
						<h4><font color="#FFFFFF">武汉大学笛箫协会</font></h4>
						<p> <b><font color="#CCCCCC">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历经风雨，自力更生，铸就奥场精神每当夜深时分，空旷的奥场总是传来绵绵不绝的笛箫之音。“代代笛箫人辛勤耕耘，发展到现在，实是不易。”这是每个笛箫协会的会员发自内心的声音。“专业老师每周辛勤的教授笛、箫、葫芦丝；老会员会在奥场、工操等操场带领新会员练习，进行新老交流，亦师亦友。”就这样，笛箫协会风雨无阻的走过了20年，奥场笛箫声音几不间断。这就是珞珈笛箫人20年来传承的奥场精神。笛箫梦，旧相识，新相知</font></b></p>
					</div>
					<div class="col-md-4 choose-left">
						<span class="choose-one"> </span>
						<h4><font color="#FFFFFF">武汉大学中华传统武术协会</font></h4>
						<p><b><font color="#CCCCCC">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;武汉大学中华传统武术协会于2004年5月在国家武术七段，武汉市武术协会副会长秦子来教授的倡导下成立，它是在武汉大学武术队的基础上扩建而成。中华传统武术协会立志于发扬中华传统文化，以“中华传武，传吾中华”为宗旨进行中华传统武术的交流以及教学。武汉大学中华传统武术每年代表武汉大学参加“湖北省大学生武术比赛”、“高校武术社团邀请赛”等赛事，在2014年代表武汉大学参加香港国际武术比赛，均成绩斐然。</font></b></p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!--End-choose-->
		 <div class="footer">
                         <div class="container">
                                    <div class="footer-text">
										<p>宏颜获水<a target="_blank" ></a></p>
									</div>
                         </div>
					<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
     </div>
</body>
</html>