<!DOCTYPE html>
<html>
<head>
<title>社团</title>
	<script src="js/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="shortcut icon" href="../static/images/icon.ico" />
<script type="application/x-javascript">
<!--
addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }

function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}
//-->
</script>
<link rel="stylesheet" type="text/css" href="../../static/css/layui.css">
	<script type="text/javascript" src="../../static/js/layui/layui.js"></script>
<meta name="keywords" content="Bootstrap Responsive Templates, Iphone Compatible Templates, Smartphone Compatible Templates, Ipad Compatible Templates, Flat Responsive Templates"/>
<script src="../static/js/jquery-1.11.0.min.js"></script>
<link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="../static/css/style.css" rel='stylesheet' type='text/css' />
<link href='http://fonts.useso.com/css?family=Arimo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href="../static/css/biaoti.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="stars"></div>
<script>
$(document).ready(function(){
  var stars=800;
  var $stars=$(".stars");
  var r=800;
  for(var i=0;i<stars;i++){
    var $star=$("<div/>").addClass("star");
    $stars.append($star);
  }
  $(".star").each(function(){
    var cur=$(this);
    var s=0.2+(Math.random()*1);
    var curR=r+(Math.random()*300);
    cur.css({
      transformOrigin:"0 0 "+curR+"px",
      transform:" translate3d(0,0,-"+curR+"px) rotateY("+(Math.random()*360)+"deg) rotateX("+(Math.random()*-50)+"deg) scale("+s+","+s+")"

    })
  })
})</script>

	<!--start-header-->
			<div id="home" class="header">
					<div class="top-header">
						<div class="container">
							<div class="logo">
								<a href="/team"><img src="../static/images/logo.png" alt=""></a>
							</div>
							<!--start-top-nav-->
				<div class="top-nav">
						<ul>
							{% if no_login %}
							<li class="active"><a href="/login"><span> </span>用户登录</a>
							</li>
							<li class="active"><a  href="/manage_login"><span> </span>管理员登录</a>
							</li>

							<li><a  href="/log_up">用户注册</a></li>
							{% elif common_login %}
							<li class="active"><a href="/login"><span> </span>返回我的主页</a>
							 {% elif manage_login %}
							 <li class="active"><a href="/manage_login"><span> </span>返回我的主页</a>
							{% endif %}
						</ul>
				</div>
							<div class="clearfix"> </div>
							<div class="title">
							     <h3 class="STYLE4 STYLE1">学生社团管理平台</h3>
							</div>
						</div>
				</div>
			<!---pop-up-box---->
					  <script type="text/javascript" src="../static/js/modernizr.custom.min.js"></script>
					<link href="../static/css/popup-box.css" rel="stylesheet" type="text/css" media="all"/>
					<script src="../static/js/jquery.magnific-popup.js" type="text/javascript"></script>
					<!---//pop-up-box---->
				 <script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,

							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});
																						
						});
				</script>					
		<!--End-header-->
		<div class="navgation">
		
					<div class="menu">
                         <a class="toggleMenu" href="#"><img src="../static/images/menu-icon.png" alt="" /> </a>
							<ul class="nav" id="nav">
							<li><a href="/">首页</a></li>
							<li><a href="/team" class="active">社团</a></li>
							
							
							</ul>
                            <!----start-top-nav-script---->
		                     <script type="text/javascript" src="../static/js/responsive-nav.js"></script>
							<script type="text/javascript">
							jQuery(document).ready(function($) {
								$(".scroll").click(function(event){		
									event.preventDefault();
									$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
								});
							});
							</script>
							<!----//End-top-nav-script---->
					</div>
					<div class="search2">
					  <form action="/search" method="post">
						  <input  type = "hidden"  name = "csrf_token"  value = "{{csrf_token()}}"/>
						 <input type="text" name="keyword" value="搜索社团信息..." onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '搜索社团信息...';}"/>
						 <input type="submit" value="">
					  </form>
					</div>
					<div class="clearfix"> </div>
		</div>
        </div>

		<!--start-choose-->
		<div class="choose">
		    <div class="liubai">
			        <h1> l</h1>
					</div>
			<div class="container">
				<div class="choose-top">

					<h3 style="color:white">社团列表</h3>

						{% with messages = get_flashed_messages() %}
										   {% if messages %}
											<h4 style="color:red">
											  {% for message in messages %}
												 {{ message }}
											  {% endfor %}
												</h4>
										   {% endif %}
										{% endwith %}

					<P style="color:white">List of associations</P>
				</div>

<table class="table">
  <thead>
    <tr style="color:white">
      <th scope="col">社团名</th>
      <th scope="col">简介</th>
      <th scope="col">申请加入</th>
    </tr>
  </thead>
  <tbody>
  {% for i in team %}
    <tr style="color:white">
      <td>{{i[0]}}</td>
      <td>{{i[1]}}</td>
      <td><form action="/applyin_community" method="post">
			<input  type = "hidden"  name = "csrf_token"  value = "{{csrf_token()}}"/>
			<input type="hidden" name="team_name" value="{{i[0]}}">
			<div class="blog-btn">
			<button class="layui-btn"	type="submit" name="action" value="accept">申请加入</button>
			</div>

	  </form></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

			</div></div>
		<!--End-choose-->
		 <div class="footer">
                         <div class="container">
                                    <div class="footer-text">
										<p> power by 宏颜获水</p>
									</div>
                         </div>
					<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
     </div>
</body>
</html>